{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar Senha - Nexo</title>
    <link rel="stylesheet" href="{% static 'estilo.css' %}">
</head>
<body class="dark-theme">
    <div class="pagina">
        <div class="lado-direito">
            <div class="logo">
                <div class="icone-logo"><img src="{% static 'logo.jpg' %}"></div>
            </div>  
            <h2 class="titulo-principal">Recuperar Senha</h2>
            <p class="subtitulo">Digite seu email para redefinir sua senha</p>

            <form id="formularioRecuperacao">
                <div class="linha-formulario">
                    <div class="grupo-formulario">
                        <label for="emailRecuperacao">Email cadastrado</label>
                        <input type="email" id="emailRecuperacao" placeholder="seu@email.com" required>
                    </div>
                </div>

                <button type="submit" class="botao botao-principal">Enviar código de recuperação</button>
            </form>

            <div class="divisor">
                <span>Lembrou sua senha?</span>
            </div>

            <a href="{% url 'login' %}" class="botao botao-secundario">Fazer login</a>

            </div>
        </div>
    </div>
</body>
<script src="{% static 'codigo-recuperacao.js' %}"></script>
</html>