{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verificar Identidade - Nexo</title>
    <link rel="stylesheet" href="{% static 'estilo.css' %}">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Nexo</h1>
        </div>
        
        <div class="content">
            {% if messages %}
                {% for message in messages %}
                    <div class="error" style="display:block; text-align: center; margin-bottom: 15px;">{{ message }}</div>
                {% endfor %}
            {% endif %}

            <form id="formValidacao" method="POST">
                {% csrf_token %}
                <div class="welcome">
                    <h2>Verifique seu E-mail</h2>
                    <p>Digite o código enviado. (Verifique o terminal do VS Code)</p>
                </div>
                
                <div class="form-group">
                    <label>Código</label>
                    <input type="text" name="codigo" class="form-control" placeholder="Digite o código" required style="text-align:center; letter-spacing: 5px; font-size: 20px;">
                </div>
                
                <button type="submit" class="btn">Validar</button>
            </form>
        </div>
    </div>

    <script src="{% static 'codigo-validacao.js' %}"></script>
</body>
</html>